<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<%- include('./partials/min_dataset_head') %>
    <%- include('./partials/nav_bar') %>


        <body>
            <span id="hiddenspan" hidden="true">
                <%=jsonData%>
            </span>


            <% if (dataMerged.moduleid=='RIF Pain & Appendicitis') { %>

            <%- include('./partials/flowchart/appendicitis') %>

                

                    <script src="/js/form_functions.js"></script>
                    <script>
                        populateFields("input, select, textarea");
                        radioSelect('input[name=clinicaldiagnosis]')
                    </script>

                    <% if (scroller=='Submitted' ) {%>
                        <script>
                            window.scrollTo(0, document.querySelector('#flowchart_begin').offsetTop)
                        </script>

                        <% } %>

                        <% } else if(dataMerged.moduleid=='None of the Above' | !dataMerged.moduleid) {%>

                            <h2 class='text-center mt-4'>No module selected</h2>
                            <h3 class='text-center mt-1'>Please add module via the registry <a href="/modules/<%=req.params.id%>/edit"><button type="button" id='nxt' class="btn btn-primary btn-lg my-3 mx-1 next">Go</button></a></h3>

                        <% } %>


        </body>

        </html>