<!-- Mini form with relevent data -->

<div class="container border rounded my-2">
    <form class='mt-1' action="/decision/<%=req.params.id%>/flowchartIP/" method="POST">
        <h4 class="display-5">Enter Patient Details</h4>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-6 col-sm-12 ">

                <div class="form-group col-sm-12">
                    <label for="genderid" class="proforma">Gender</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="genderid" id="genderidRadio1" value="Male">
                        <label class="form-check-label proforma" for="genderidRadio1">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="genderid" id="genderidRadio2" value="Female">
                        <label class="form-check-label proforma" for="genderidRadio2">Female</label>
                    </div>
                </div>

                <div class="form-group col-sm-8">
                    <label for="age" class="proforma">Age</label>
                    <input type="number" name="age" class="form-control form-control-sm" id="age">
                </div>


                <div class="form-group col-sm-8">
                    <label for="symptomduration" class="proforma">Duration of symptoms (hours)</label>
                    <input type="number" name="symptomduration" class="form-control form-control-sm"
                        id="symptomduration">
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 ">
                <div class="row">
                    <div class="col-6  pt-1">Tenderness</div>
                    <div class="col-4 ">
                        <div class="row">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tenderid" id="tenderRadio1"
                                    value="Yes">
                                <label class="form-check-label h4 pb-1" for="tenderRadio1">+</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tenderid" id="tenderRadio2"
                                    value="No">
                                <label class="form-check-label h4 pb-1" for="tenderRadio2">-</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tenderid" id="tenderRadio3"
                                    value="ND" hidden=true checked=true>
                                <label class="form-check-label" for="tenderRadio3"></label>
                            </div>
                        </div>
                    </div>


                    <div class="col-6  pt-1">Guarding</div>
                    <div class="col-4 ">
                        <div class="row">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="guardingid" id="guardingRadio1"
                                    value="Yes">
                                <label class="form-check-label h4 pb-1" for="guardingRadio1">+</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="guardingid" id="guardingRadio2"
                                    value="No">
                                <label class="form-check-label h4 pb-1" for="guardingRadio2">-</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="guardingid" id="guardingRadio3"
                                    value="ND" hidden=true checked=true>
                                <label class="form-check-label" for="guardingRadio3"></label>
                            </div>
                        </div>
                    </div>



                    <div class="col-6  pt-1">Rebound RIF</div>
                    <div class="col-4 ">
                        <div class="row">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="reboundtendernessid"
                                    id="reboundRadio1" value="Yes">
                                <label class="form-check-label h4 pb-1" for="reboundRadio1">+</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="reboundtendernessid"
                                    id="reboundRadio2" value="No">
                                <label class="form-check-label h4 pb-1" for="reboundRadio2">-</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="reboundtendernessid"
                                    id="reboundRadio3" value="ND" hidden=true checked=true>
                                <label class="form-check-label" for="reboundRadio3"></label>
                            </div>
                        </div>
                    </div>



                    <div class="col-6  pt-1">RIF Pain</div>
                    <div class="col-4 ">
                        <div class="row">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rifpainid" id="rifpainidRadio1"
                                    value="Yes">
                                <label class="form-check-label h4 pb-1" for="rifpainidRadio1">+</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rifpainid" id="rifpainidRadio2"
                                    value="No">
                                <label class="form-check-label h4 pb-1" for="rifpainidRadio2">-</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rifpainid" id="rifpainidRadio3"
                                    value="ND" hidden=true checked=true>
                                <label class="form-check-label" for="rifpainidRadio3"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-6  pt-1">Rigidity</div>
                    <div class="col-4 ">
                        <div class="row">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rigidityid" id="rigidityidRadio1"
                                    value="Yes">
                                <label class="form-check-label h4 pb-1" for="rigidityidRadio1">+</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rigidityid" id="rigidityidRadio2"
                                    value="No">
                                <label class="form-check-label h4 pb-1" for="rigidityidRadio2">-</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rigidityid" id="rigidityidRadio3"
                                    value="ND" hidden=true checked=true>
                                <label class="form-check-label" for="rigidityidRadio3"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-6  pt-1">Palpable Mass RIF</div>
                    <div class="col-4 ">
                        <div class="row">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="palpablemassid"
                                    id="palpablemassidRadio1" value="Yes">
                                <label class="form-check-label h4 pb-1" for="palpablemassidRadio1">+</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="palpablemassid"
                                    id="palpablemassidRadio2" value="No">
                                <label class="form-check-label h4 pb-1" for="palpablemassidRadio2">-</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="palpablemassid"
                                    id="palpablemassidRadio3" value="ND" hidden=true checked=true>
                                <label class="form-check-label" for="palpablemassidRadio3"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-6  pt-1">Rigidity Entire Abdomen</div>
                    <div class="col-4 ">
                        <div class="row">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rigidityentire"
                                    id="rigidityentireRadio1" value="Yes">
                                <label class="form-check-label h4 pb-1" for="rigidityentireRadio1">+</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rigidityentire"
                                    id="rigidityentireRadio2" value="No">
                                <label class="form-check-label h4 pb-1" for="rigidityentireRadio2">-</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rigidityentire"
                                    id="rigidityentireRadio3" value="ND" hidden=true checked=true>
                                <label class="form-check-label" for="rigidityentireRadio3"></label>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 ">

                <label for="wcc" class='proforma'>WCC</label>
                <input type="number" name="wcc" step=0.01 class="form-control form-control-sm" id="wcc">

                <label for="crp" class='proforma'>CRP</label>
                <input type="number" name="crp" step=0.01 class="form-control form-control-sm" id="crp">


                <label for="riskscoreid" class='proforma'>Risk score used</label>
                <select name="riskscoreid" id="riskscoreid" class="form-control">
                    <option value=""></option>
                    <option value="Adult Appendicitis Score (AAS)">Adult Appendicitis Score (AAS)</option>
                    <option value="Adult Inflammatory Score (AIR)">Adult Inflammatory Score (AIR)</option>
                    <option value="SHERA">SHERA</option>

                </select>

                <label for="riskscore" class='proforma'>Risk Score</label>
                <input type="number" name="riskscore" class="form-control form-control-sm" id="riskscore">


            </div>

        </div>
        <div class="form-group col-sm-6" hidden=true>
            <label for="moduleid">Module</label>
            <select name="moduleid" id="moduleid" class="form-control">
                <option value=""></option>
                <option value="Laparotomy">Laparotomy</option>
                <option value="RIF Pain & Appendicitis">RIF pain and Appendicitis</option>
                <option value="RUQ & Cholecystitis">RUQ pain and Cholecystitis</option>
                <option value="Small Bowel Obstruction">Small Bowel Obstruction</option>
                <option value="None Of The Above">None of the Above</option>
            </select>
        </div>
        <button class="btn btn-primary btn-lg my-3 mx-1 next" id="nxt">Calculate Clinical Picture</button>
    </form>
</div>

<!-- Flow chart -->
<% if(dataMerged.flowID) {%>

    <div class="container border my-3" id="flowchart_begin">
        <form class="mt-1" action="/decision/<%=req.params.id%>/flowchartOP/" method='POST'>

            <input type="number" id="id" name='flowid' value=<%=dataMerged.flowID%> hidden=true>

            <div class="row my-2">
                <div class="col-3 ml-2">
                    <h6 class='text-center'>Clinical Picture</h6>
                </div>

                <div class="col-2 offset-1">
                    <h6 class='text-center'>Likely Diagnosis</h6>
                </div>

                <div class="col-4 offset-1">
                    <h6 class='text-center'>Investigation/Management</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-3 ml-2 clincPicDiv">
                    <table class='table table-sm mt-1 clinicalpicture text-center'>

                        <tbody>

                            <% for (el of criteria[0]) {%>
                                <% if (el.class==='show' | el.class===dataMerged.riskscoreid) {%>
                                    <tr>
                                        <td>
                                            <%- el.crit %>
                                        </td>
                                        <td>
                                            <%- rifObj[0][el.crit] %>
                                        </td>
                                    </tr>

                                    <% } %>
                                        <% } %>

                        </tbody>
                    </table>
                </div>
                <div class="col-1 d-flex align-items-center justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class='diagnosisbox text-center p-2'>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="clinicaldiagnosis" id="Radio1"
                                value="Possible Appendicitis" hidden=true>
                            <label class="form-check-label diagnosis-opts" for="Radio1">Possible Appendicitis</label>
                        </div>


                    </div>
                </div>

                <div class="col-1 d-flex align-items-center justify-content-center">
                    <div hidden=true id="PossibleAppendicitis"><svg xmlns="http://www.w3.org/2000/svg" width="32"
                            height="32" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg></div>
                </div>
                <div class="col-4 d-flex align-items-center justify-content-center p-2">
                    <div class='mgmt-box py-1 px-2' id="PossibleAppendicitis" hidden=true>

                        <table class='table table-sm my-1 text-center management' id="PossibleAppendicitis" hidden=true>

                            <tbody>
                                <tr>
                                    <td>Observer Reassess after 6-8 hours</td>
                                </tr>
                                <tr>
                                    <td> <button class="btn btn-primary btn-sm mt-1 view_modules">Approve and
                                            Save</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>



            <div class="row mt-2">
                <div class="col-3 ml-2 clincPicDiv">
                    <table class='table table-sm mt-1 clinicalpicture text-center'>

                        <tbody>
                            <% for (el of criteria[1]) {%>
                                <% if (el.class==='show' | el.class===dataMerged.riskscoreid) {%>
                                    <tr>
                                        <td>
                                            <%- el.crit %>
                                        </td>
                                        <td>
                                            <%- rifObj[1][el.crit] %>
                                        </td>
                                    </tr>

                                    <% } %>
                                        <% } %>


                        </tbody>
                    </table>
                </div>
                <div class="col-1 d-flex align-items-center justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class='diagnosisbox text-center p-2'>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="clinicaldiagnosis" id="Radio2"
                                value="Probable Appendicitis" hidden=true>
                            <label class="form-check-label diagnosis-opts" for="Radio2">Probable Appendicitis</label>
                        </div>


                    </div>
                </div>

                <div class="col-1 d-flex align-items-center justify-content-center">
                    <div id='ProbableAppendicitis' hidden=true>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </div>
                </div>
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <div class='mgmt-box py-1 px-2' id="ProbableAppendicitis" hidden=true>
                        <table class='table table-sm my-1 text-center management' id="ProbableAppendicitis" hidden=true>

                            <tbody>
                                <tr>
                                    <td>Observer Reassess after 6-8 hours</td>
                                </tr>
                                <tr>
                                    <td>Consider US (especially in females)</td>
                                </tr>
                                <tr>
                                    <td> <button class="btn btn-primary btn-sm mt-1 view_modules">Approve and
                                            Save</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>


            <div class="row mt-2">
                <div class="col-3 ml-2 clincPicDiv">
                    <table class='table table-sm mt-1 clinicalpicture text-center'>

                        <tbody>
                            <% for (el of criteria[2]) {%>
                                <% if (el.class==='show' | el.class===dataMerged.riskscoreid) {%>
                                    <tr>
                                        <td>
                                            <%- el.crit %>
                                        </td>
                                        <td>
                                            <%- rifObj[2][el.crit] %>
                                        </td>
                                    </tr>

                                    <% } %>
                                        <% } %>

                        </tbody>
                    </table>
                </div>
                <div class="col-1 d-flex align-items-center justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class='diagnosisbox text-center p-2'>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="clinicaldiagnosis" id="Radio3"
                                value="Definite Appendicitis" hidden=true>
                            <label class="form-check-label diagnosis-opts" for="Radio3">Definite Appendicitis</label>
                        </div>


                    </div>
                </div>

                <div class="col-1 d-flex align-items-center justify-content-center">
                    <div id="DefiniteAppendicitis" hidden=true><svg xmlns="http://www.w3.org/2000/svg" width="32"
                            height="32" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg></div>
                </div>
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <div class='mgmt-box px-2 py-1' id="DefiniteAppendicitis" hidden=true>
                        <table class='table table-sm my-1 text-center management' id="DefiniteAppendicitis" hidden=true>

                            <tbody>
                                <tr>
                                    <td>Consider US/CT</td>
                                </tr>
                                <tr>
                                    <td>US/CT - Appendicitis Confirmed</td>
                                </tr>
                                <tr>
                                    <td>Laparoscopic Appendectomy</td>
                                </tr>
                                <tr>
                                    <td> <button class="btn btn-primary btn-sm mt-1 view_modules">Approve and
                                            Save</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>



            <div class="row mt-2">
                <div class="col-3 ml-2 clincPicDiv">
                    <table class='table table-sm mt-1 clinicalpicture text-center'>

                        <tbody>
                            <% for (el of criteria[3]) {%>
                                <% if (el.class==='show' | el.class===dataMerged.riskscoreid) {%>
                                    <tr>
                                        <td>
                                            <%- el.crit %>
                                        </td>
                                        <td>
                                            <%- rifObj[3][el.crit] %>
                                        </td>
                                    </tr>

                                    <% } %>
                                        <% } %>


                        </tbody>
                    </table>
                </div>
                <div class="col-1 d-flex align-items-center justify-content-center">

                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>

                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class='diagnosisbox text-center p-2'>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="clinicaldiagnosis" id="Radio4"
                                value="Appendicular Mass" hidden=true>
                            <label class="form-check-label diagnosis-opts" for="Radio4">Appendicular Mass</label>
                        </div>


                    </div>
                </div>

                <div class="col-1 d-flex align-items-center justify-content-center">
                    <div id="AppendicularMass" hidden=true>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </div>
                </div>
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <div class='mgmt-box px-2 py-1' id="AppendicularMass" hidden=true>
                        <table class='table table-sm my-1 text-center management' hidden=true id="AppendicularMass">

                            <tbody>
                                <tr>
                                    <td>Consider US/CT</td>
                                </tr>
                                <tr>
                                    <td>US/CT - Appendicitis Mass confirmed</td>
                                </tr>
                                <tr>
                                    <td>+/- Laparoscopic Appendectomy</td>
                                </tr>
                                <tr>
                                    <td>+/- Interventional Radiological Drainage and Interval Appendectomy</td>
                                </tr>
                                <tr>
                                    <td> <button class="btn btn-primary btn-sm mt-1 view_modules">Approve and
                                            Save</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>


            <div class="row mt-2">
                <div class="col-3 ml-2 clincPicDiv">

                    <table class='table table-sm mt-1 clinicalpicture text-center'>

                        <tbody>
                            <% for (el of criteria[4]) {%>
                                <% if (el.class==='show' | el.class===dataMerged.riskscoreid) {%>
                                    <tr>
                                        <td>
                                            <%- el.crit %>
                                        </td>
                                        <td>
                                            <%- rifObj[4][el.crit] %>
                                        </td>
                                    </tr>

                                    <% } %>
                                        <% } %>

                        </tbody>
                    </table>
                </div>
                <div class="col-1 d-flex align-items-center justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class='diagnosisbox text-center p-2'>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="clinicaldiagnosis" id="Radio5"
                                value="Peritonitic Patient" hidden=true>
                            <label class="form-check-label diagnosis-opts" for="Radio5">Peritonitic Patient</label>
                        </div>


                    </div>
                </div>

                <div class="col-1 d-flex align-items-center justify-content-center">
                    <div id="PeritoniticPatient" hidden=true>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </div>
                </div>
                <div class="col-3 d-flex align-items-center justify-content-center">
                    <div class='mgmt-box px-2 py-1' id="PeritoniticPatient" hidden=true>

                        <table class='table table-sm my-1 text-center management' id="PeritoniticPatient" hidden=true>

                            <tbody>
                                <tr>
                                    <td>Expedient Laparoscopic Appendectomy</td>
                                </tr>
                                <tr>
                                    <td> <button class="btn btn-primary btn-sm mt-1 view_modules" id='view_mod'>Approve
                                            and Save</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </form>
        <% } %>
    </div>
    <script src="/js/form_functions.js"></script>